body, html {
    border: 0;
    height: 1920px;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(91,225,228,255);
}

.headeri{
    background-color: white;
    margin-top: 0;
    height: 70px;
    width: 1663px;

}

h2{
    color: black;
    float: right;
    margin-left: 40px;
    margin-right: 25px;
    

}

.logo{
    width: 100px;
    height: 70px;
    margin-right: 100px;
}

.whiteBox{
    background-color: white;
    width: 1290px;
    height: 1200px;
    margin-left: 190px;
    padding-top: 0;

}


.img1{
    width: 500px;
    height: 560px;
    float: left; 
    margin-left: 100px; 
    margin-top: 50px;
}

.textDiv{
    float: right;
    margin-top: 25px;
    margin-right: 100px;
}

.img2{
    width: 500px;
    height: 500px;
    float:right; 
    margin-top: 50px; 
    margin-right: 100px;
}

.textDiv2{
    float: left;
    margin-top: 80px;
    margin-left: 120px;
}

h1{
    color: rgb(32, 80, 80);
}

.border{
    background-color: white;
    width: 1290px;
    height: 200px;
    margin-left: 190px;
    margin-top: 15px;

}

pre{
    font-size: 15px;
}



